[SddmGreeterTheme]
Name=RobinOS
Description=RobinOS login screen (zinc, Geist, dot grid)
Author=RobinOS
Copyright=2026 RobinOS
License=CC-BY-SA
Type=sddm-theme
Version=0.2.0
Website=https://example.invalid/robinos
Screenshot=preview.svg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=robinos
Theme-API=2.0
QtVersion=6
